@import '../../_default'
    
.username
    // text-transform: capitalize;
    font-size: 0.9rem
    margin: auto 20px

.brand
    font-family: 'Finger Paint', cursive
    color: $primary-color-dark

.out
    text-decoration: none
    color: $secondary-text-color