@import '../../_default'

.turmaBox
    display: flex
    flex-wrap: wrap
    label
        background-color: #d9d9d9d0
        padding: 10px
        border-radius: 5px
        width: auto
        margin: 5px
        transition: 500ms
        &:hover
            transform: translateY(-5px)
        input
            margin: 5px