@import '../../_default'

.login
    display: flex
    height: 100vh
    width: 100%

.loginBox
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: $primary-color-dark
    margin: auto
    height: 350px
    width: 350px
    border-radius: 5px
    box-shadow: 1px 5px 10px $divider-color
    h2
        color: $primary-color-text
    h1
        font-family: 'Finger Paint', cursive
        color: $primary-color-light
    label
        color: $primary-color-text
        text-align: center
        margin: auto
        p
            font-weight: 600
            margin: auto
#submit
    margin: auto
    width: 100%
    background-color: $primary-color-light
    border: none
    color: $secondary-text-color

