@import '../../_default'
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

.config
    display: flex
    flex-direction: column
    width: 80%
    margin: auto
    // align-items: center
    // justify-content: center

.gradeGroup
    display: grid
    grid-template-columns: auto auto auto
    gap: 10px
    // width: 80%
    // margin: 50px auto

.grade
    padding: 20px
    font-size: 30px
    border-radius: 5px
    border: solid 1px #d9d9d93d
    height: 500px
    // margin: auto
    // background-color: #d9d9d9d0
    transition: 400ms
  
    width: 350px
    h4
        color: $primary-text-color
    &:hover
        transform: translateY(-5px)
        cursor: pointer
    label
        font-size: 1.2rem
        align-self: start
        input
            margin-right: 10px
    &:nth-child(1)
        background-color: #1324AB
        color: white
        h4
            color: white
    &:nth-child(2)
        background-color: #023982
        color: white
        h4
            color: white
    &:nth-child(3)
        background-color: #38B6FF
    &:nth-child(4)
        background-color: #4F70B8
    &:nth-child(5)
        background-color: #247BBB
    &:nth-child(6)
        background-color: #ba378a
    &:nth-child(7)
        background-color: #5DA3FF


.buttonContainer
    display: flex
    margin: 10px
    width: 100%

.salvar
    margin-left: auto
    // width: 80%
    // margin: auto

.bread
    color: $primary-color-dark
    a
        color: $primary-color-dark
        font-weight: 600
        text-decoration: none
