@import '../../_default'
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    
.gradeGroup
    display: grid
    grid-template-columns: auto auto auto
    gap: 10px
    width: 80%
    margin: 50px auto

.grade
    padding: 20px
    font-size: 30px
    border-radius: 5px
    border: solid 1px #d9d9d93d
    height: 500px
    background-color: #d9d9d9d0
    transition: 400ms
    h4
        color: $primary-text-color
    &:hover
        transform: translateY(-5px)
        cursor: pointer
    label
        font-size: 1.2rem
        align-self: start
        input
            margin-right: 10px
.buttonContainer
    display: flex
    margin: 50px
    width: 100%

.salvar
    width: 80%
    margin: auto